<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${brand.name} + ' - Proizvodi'">Proizvodi</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="container">

    <h1 th:text="'Proizvodi brenda ' + ${brand.name}"></h1>

    <table>
        <thead>
        <tr>
            <th>Naziv</th>
            <th>Kategorija</th>
            <th>Boja</th>
            <th>Cijena (KM)</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="product : ${brand.products}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.category.name}"></td>
            <td th:text="${product.color}"></td>
            <td th:text="${product.price}"></td>
        </tr>
        </tbody>
    </table>

    <a href="/brands">↩ Nazad na brendove</a>

</div>

</body>
</html>
