<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fashion Collection - Brendovi</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="container">

    <h1>Brendovi u kolekciji</h1>

    <table>
        <tr>
            <th>Naziv</th>
            <th>Država</th>
            <th>Osnivač</th>
            <th>Godina</th>
            <th>Akcije</th>
        </tr>

        <tr th:each="brand : ${brands}">
            <td th:text="${brand.name}"></td>
            <td th:text="${brand.country}"></td>
            <td th:text="${brand.founder}"></td>
            <td th:text="${brand.foundedYear}"></td>
            <td>
                <a th:href="@{/products/{id}(id=${brand.id})}">Proizvodi</a>
                <a th:href="@{/brands/action/{id}(id=${brand.id})}">Akcija</a>
            </td>
        </tr>
    </table>

</div>

</body>
</html>
